# Required
DATABASE_URL=postgresql+psycopg2://votabank_admin:Tony%24stark%211@65.0.75.0:5432/postgres

# Optional
CONTEXT_PATH=/votebase/v1
PORT=8081

AWS_REGION=ap-south-1
AWS_S3_BUCKET=votebase-data-storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_PROFILE_PICS=profile_pics

SUPERADMIN_USERNAME=admin@iswot.io
